
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ffffff;
    margin: 0px;
}

h1 {
    color:#016e3c;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    font-size: 60px;
    vertical-align: top;
    line-height: 70px;
    display: inline-block;
}


#gv-country {
    font-size: 60px;
    line-height: 50px;
    margin: 0px;
    padding: 0px;
    height: auto;
    width: 400px;
    font-style: italic;
    border: 0px;
    -webkit-box-shadow: 0px;
    box-shadow: 0px;
    color: #016e3c;
    background-color: none;
    font-weight: bold;
}
#gv-country:focus {
    border: 0px;
    box-shadow: 0px;
}
#gv-country:disabled {
    background-color: transparent;
    color: rgba(1,110,60,0.5);
}

h2 {
    color:#333333;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

#gv-header {
    margin-top: 20px;
}

#gv-page {
    width: 100%;
    height: 100%;
    min-height: 100%; 
    position: relative;
}

#gv-map{
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-height: 100%; 
    z-index: -1;
}

#gv-stories {
    min-height: 300px;
}
.gv-story {
}

.well {
    background-color: rgba(255,255,255,0.95);
}